* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;

  //add a border for design
  border: 0px black solid;
  text-transform: capitalize;

  --lightBlue: #3961b5;
  --green: #2e6117;
  --red: #853336;
  --purple: #462e5f;
  --bgk: #f4cc9c;
  --grey: #929798;
  --darkBlue:#191475;
}

a {
  color: inherit;
  text-decoration: none;
}
.a-center {
  // display: flex;
  //   margin: 0 auto;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 3.125rem;
}

h2{
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5,
h6 {
}


.btn{
  font-weight: 700;
  color: white;
  background-color: var(--red);
}

//for the whole page container
.main {
}

//mainly for container that hold content.can be used to response
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.w-1\/2 {
  width: 50%;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
.flex-row-re {
  flex-direction: row-reverse;
}

.flex-between {
  justify-content: space-between;
}

.f-white{
  color: white;
}

.w-full {
  width: 100%;
}
.capitalize {
  text-transform: capitalize;
}
.font1 {
  font-family: "Mulish", sans-serif;
}

.font2 {
  font-family: "Poppins", sans-serif;
}

.font-content {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
}
.page-container {
  .header-wrapper {
    background: var(--red);
    .border-box {
      border-top: 4.84px var(--grey) solid;
      border-bottom: 4.84px var(--grey) solid;
      opacity: 50%;
    }
    .header {
      padding: 0 2rem;
      margin: 0 auto;
      display: flex;
      max-width: 1280px;
      justify-content: space-between;

      .logo {
        width: 300px;
        height: 144px;
      }
      .navigation-holder {
        display: flex;
        justify-content: right;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
      }


      .navi-top {
        display: flex;
        height: 60px;
        margin-top: 10px;
        color: white;
        font-size: 1rem;

        a {
          line-height: 60px;
          padding: 22px;
          transition: 0.2s;
          &:hover {
            background-color: var(--grey);
          }
        }
      }
    }
  }
}

.p-top{
  padding-top: 20px;
}

.social-media {
  width: auto;
  justify-content: end;
  padding-right: 20px;
  
  li {
    margin-right: 12px;
  }
  .small-logo {
    --social-size: 25px;
    background-color: var(--red);
    color: white;
    //   box-shadow: 0px 0px 0 2px white;
    border-radius: 50%;
    width: var(--social-size);
    height: var(--social-size);
    line-height: var(--social-size);
    font-size: 22px;
    text-align: center;
    //   transition: 0.2s;
    //   &:hover {
    //     background-color: white;
    //     color: var(--c1);
    //   }
  }
}

.body-main {
}

.body-main * {
  border: 1px black solid;
}

.main-picture {
  background-image: url(../imgs/1_resized.png);
  background-size: cover;
  background-position: right center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content {
    margin: 0 50px;
    color: white;
    .logan {
      font-weight: 600;
      font-size: 60px;
    }
    :nth-child(2) {
      background-color: var(--lightBlue);
    }
    :nth-child(3) {
      background-color: var(--purple);
    }
  }
}

.w-1\/5 {
  width: 20%;
}
h3{
  font-size: 1.5rem;
}
.footer {
  .border-box {
    border-top: 4.84px #636466 solid;
    border-bottom: 4.84px #636466 solid;
  }
  .footer__content {
    background-color: var(--red);
  }
  .terms{
    font-size: 0.75rem;
  }
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

// underline effect
// content: "";
//     width: 0;
//     height: 1px;
//     background-color: #009abf;
//     position: absolute;
//     bottom: 1px;
//     left: 0;
//     transition: width .4s ease-in;
