* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../../fonts/proxima_nova/proxima-nova-light-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima_nova/proxima-nova-light-italic-webfont.woff") format("woff"), url("../../fonts/proxima_nova/proxima-nova-light-italic-webfont.ttf") format("truetype"), url("../../fonts/proxima_nova/proxima-nova-light-italic-webfont.svg#ProximaNovaLight") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../../fonts/proxima_nova/proxima-nova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima_nova/proxima-nova-light-webfont.woff") format("woff"), url("../../fonts/proxima_nova/proxima-nova-light-webfont.ttf") format("truetype"), url("../../fonts/proxima_nova/proxima-nova-light-webfont.svg#ProximaNovaLight") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../../fonts/proxima_nova/proxima-nova-regular-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima_nova/proxima-nova-regular-italic-webfont.woff") format("woff"), url("../../fonts/proxima_nova/proxima-nova-regular-italic-webfont.ttf") format("truetype"), url("../../fonts/proxima_nova/proxima-nova-regular-italic-webfont.svg#ProximaNovaLight") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../../fonts/proxima_nova/proxima-nova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima_nova/proxima-nova-regular-webfont.woff") format("woff"), url("../../fonts/proxima_nova/proxima-nova-regular-webfont.ttf") format("truetype"), url("../../fonts/proxima_nova/proxima-nova-regular-webfont.svg#ProximaNovaRegular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../../fonts/proxima_nova/proxima-nova-bold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima_nova/proxima-nova-bold-italic-webfont.woff") format("woff"), url("../../fonts/proxima_nova/proxima-nova-bold-italic-webfont.ttf") format("truetype"), url("../../fonts/proxima_nova/proxima-nova-bold-italic-webfont.svg#ProximaNovaLight") format("svg");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../../fonts/proxima_nova/proxima-nova-semibold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima_nova/proxima-nova-semibold-italic-webfont.woff") format("woff"), url("../../fonts/proxima_nova/proxima-nova-semibold-italic-webfont.ttf") format("truetype"), url("../../fonts/proxima_nova/proxima-nova-semibold-italic-webfont.svg#ProximaNovaLight") format("svg");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../../fonts/proxima_nova/proxima-nova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima_nova/proxima-nova-semibold-webfont.woff") format("woff"), url("../../fonts/proxima_nova/proxima-nova-semibold-webfont.ttf") format("truetype"), url("../../fonts/proxima_nova/proxima-nova-semibold-webfont.svg#ProximaNovaSemibold") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../../fonts/proxima_nova/proxima-nova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima_nova/proxima-nova-bold-webfont.woff") format("woff"), url("../../fonts/proxima_nova/proxima-nova-bold-webfont.ttf") format("truetype"), url("../../fonts/proxima_nova/proxima-nova-bold-webfont.svg#ProximaNovaLight") format("svg");
    font-weight: 600;
    font-style: normal;
}



h2,
h3,
h4,
h5 {
    margin-bottom: 0.938rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.25;
    color: #1b2e4b;
}

h4 {
    font-size: 1.407rem;
}

h2 {
    font-size: 2.2043rem;
}

.text1 {
    font-size: 1.25rem;
    font-weight: 300;
}

.text2 {}

.text2 {}

.capitalized {
    text-transform: capitalize;
}



#contact {
    display: flex;
    padding: 100px auto;

    & .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid black;

        & .contact-form {
            & a {
                width: 100%;
            }

        }


    }



}

@media screen and (min-width: 400px) {}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}