*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper{
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    
}

.align-center{
    display:flex;
    justify-content: center;
}

.navi-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi-top ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex:4;
}

.navi-top ul li{
    /* display: block; */
    margin: 10px;
}

.navi-top__search{
    flex: 2;
    flex-wrap: nowrap;
}

.navi-top__search input{
    margin: 0 10px;
}

.page-content{
    
}
